[Unit]
Description=GammaBlast EOD Backup Timer
Requires=gammablast-eod-backup.service

[Timer]
# After wiki loop at 15:30
OnCalendar=Tue,Thu *-*-* 16:00:00 Asia/Kolkata
Persistent=false

[Install]
WantedBy=timers.target
